.DS_Store
**/xcuserdata/
**/DerivedData/
**/build/
*.xcworkspace/xcuserdata/

# Local dict build artifacts
DictBuilder/kaikki.org-dictionary-English.jsonl
DictBuilder/kaikki.org-dictionary-English.jsonl.gz
DictBuilder/dictionary.sqlite
